<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Django-Template">
    <meta name="author" content="Django-Template">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}
    General Base Template<br>

    {% block content %}{% endblock %}

{% endblock %}
</body>
</html>
